<!DOCTYPE html> 
<html lang="en"> 
  <head> 
    <meta charset="utf-8"> 
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/Content/styles/bootstrap.css" type="text/css" media="screen" /> 
  </head> 
  <body>
  <div class="navbar navbar-fixed-top"> 
      <div class="navbar-inner">
      <div class="offset1">
        <a class="brand" href="#">The Wall</a>
      </div>
      <div class="container"> 
        <ul class="nav"> 
          <li class="cardCreate active">
            <a class="active" href="#cardCreate">Add Card</a>
          </li> 
          <li class="memberCreate active">
            <a class="active" href="#memberCreate">Add Member</a>
          </li> 
          <li class="showMembers active">
            <a class="active" href="#showMembers">View all members</a>
          </li> 
        </ul>
      </div>  
    </div> 
  </div>
  <div class="container spacing">
      <div id="app">
        @RenderSection("featured", required: false)
        @RenderBody()
      </div>
  </div>
  <div class="cardModal"></div>
    <script src="dist/vendor.js"></script> 
    <script src="dist/app.js"></script> 

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
  </body> 
</html>