<div data-id="{{model._id}}" class="card {{model.type}} {{#if model.is_blocked}}is_blocked{{/if}}">
  <h3>{{model.title}}</h3>

    <div class="card-number">Number <span>{{model.CardNumber}}</span></div>

    {{#if model.StoryPoints}}
    <div class="card-points">{{model.StoryPoints}}</div>
    {{/if}}

    {{#if model.Collaborators}}
    <div class="card-members">Member: <span>{{model.Collaborators}}</span></div>
    {{/if}}

    {{#if model.Notes}}
    <div class="card-notes">Note: <span>{{model.Notes}}</span></div>
    {{/if}}

    <span class="remove">x</span>
</div>